* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: #eff0f3;
  --btn-color: #ff8e3c;
  --secondary-bg: #fffffe;
  --tertiary-color: #d9376e;
  --text-color: #0d0d0d;
  --slide-1-bg: #aaa;
  --slide-2-bg: #bbb;
  --slide-3-bg: #ccc;
  --slide-4-bg: #ddd;
  --navbar-bg: blue;
  --scale-value: 0;
  --translate-value: 0;
  --apple-color: orangered;
}

body {
  background: var(--main-bg);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: arial;
}

.hidden {
  display: none;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 10vh;
  background: rgba(202, 202, 202, 0.7921568627);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
}

.nav {
  width: 50vw;
  display: flex;
  justify-content: space-around;
}

.slide-tab {
  cursor: pointer;
  position: relative;
}

.slide-tab::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -12.5%;
  width: 125%;
  height: 2px;
  background: blue;
  transition: transform 0.25s ease-in-out;
  transform: scaleX(var(--scale-value));
}

#slide1:checked ~ .main-container .slides-container {
  --translate-value: 0;
}

#slide2:checked ~ .main-container .slides-container {
  --translate-value: -100vw;
}

#slide3:checked ~ .main-container .slides-container {
  --translate-value: -200vw;
}

#slide4:checked ~ .main-container .slides-container {
  --translate-value: -300vw;
}

#slide1:checked ~ .main-container #label4slide1,
#slide2:checked ~ .main-container #label4slide2,
#slide3:checked ~ .main-container #label4slide3,
#slide4:checked ~ .main-container #label4slide4,
label:hover {
  --scale-value: 1;
}

.lang-toggle {
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 1.5rem;
  width: 2.5rem;
  border: 2px solid #222;
  border-radius: 25rem;
  cursor: pointer;
  background: var(--main-bg);
}
.lang-toggle::after {
  content: "";
  position: absolute;
  height: 90%;
  aspect-ratio: 1;
  background: #222;
  border-radius: 100%;
  transition: transform 0.2s ease-in-out;
}

.container {
  padding-top: 10vh;
}

.lang-fr {
  display: none;
}

/* When I toggle the language */
#toggle:checked {
  /* (1) I move the cursor to FR */
  /* (2) I remove the english text */
  /* (3) I show the french text */
}
#toggle:checked ~ .main-container .lang-toggle::after {
  transform: translate(100%);
}
#toggle:checked ~ .main-container .lang-en {
  display: none;
}
#toggle:checked ~ .main-container .lang-fr {
  display: inline-block;
}

/* slides */
.slides-container {
  display: flex;
  width: 400vw;
  height: 100vh;
  transform: translateX(var(--translate-value));
  transition: 0.25s transform ease-in-out;
  background: var(--main-color);
}

.slide {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top: 10vh;
}

/* slide 1 */
/* slide 2 */
#apple-checkbox {
  display: none;
}

#apple-checkbox:checked ~ .apples-container .eaten-apple {
  display: block;
}
#apple-checkbox:checked ~ .apples-container .full-apple {
  display: none;
}

.apples-container {
  cursor: pointer;
  display: inline-block;
  height: 12rem;
  width: 10rem;
  position: relative;
}

.full-apple,
.eaten-apple {
  position: absolute;
  height: 9rem;
  width: 10rem;
  bottom: 0;
  --stick-width: .5rem;
  border-radius: 50%;
  background: var(--apple-color);
  box-shadow: inset 1rem -0.5rem rgba(34, 34, 34, 0.3333333333);
  /* the leaves */
  /* and a stick */
}
.full-apple::after,
.eaten-apple::after {
  content: "";
  left: 30%;
  top: -30%;
  position: absolute;
  height: 40%;
  width: 25%;
  border-radius: 0% 100% 0% 100%/20% 100% 0% 80%;
  background: linear-gradient(57deg, #4f7942 50%, #355e3b 0);
}
.full-apple::before,
.eaten-apple::before {
  content: "";
  position: absolute;
  left: 52.5%;
  top: -7.5%;
  height: 25%;
  width: 50%;
  border-radius: 50% 50% 100% 0%/100% 100% 0% 0%;
  border: solid brown;
  border-width: 0 0 0 var(--stick-width);
}

.eaten-apple {
  display: none;
  background: radial-gradient(circle at 85% 30%, var(--slide-2-bg) 15%, transparent 0), radial-gradient(circle at 90% 60%, var(--slide-2-bg) 22.5%, transparent 0), var(--apple-color);
}

/* slide 3 */
.label4apple-color {
  display: inline-block;
  height: 2rem;
  aspect-ratio: 1;
  cursor: pointer;
}

.red-apple-label {
  background: red;
}

.green-apple-label {
  background: green;
}

.yellow-apple-label {
  background: yellow;
}

#red-apple:checked ~ .apples-container {
  --apple-color: red;
}

#green-apple:checked ~ .apples-container {
  --apple-color: green;
}

#yellow-apple:checked ~ .apples-container {
  --apple-color: yellow;
}

/* slide 4 */
#apple-drag {
  position: relative;
  border: none;
  background: transparent;
  cursor: default;
  display: inline-block;
}

#apple-drag + .full-apple {
  display: inline-block;
  position: relative;
  left: -1.25rem;
  bottom: -0.5rem;
  width: 1.5rem;
  height: 1.35rem;
  --stick-width: .2rem;
  pointer-events: none;
}

/* ===> SIGNATURE <=== */
.signature {
  text-decoration: none;
}

.link {
  font-size: 1.5rem;
  font-family: arial, sans-serif;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 10rem;
}

.my-name {
  position: relative;
}

.before,
.after {
  overflow: hidden;
  width: 0px;
  transition: width 0.5s;
  transform-origin: right;
}

.before-text {
  display: inline-block;
  width: auto;
  text-align: right;
}

.after-text {
  display: flex;
  align-items: center;
  width: auto;
  height: 3rem;
  transform-origin: top center;
}

.link:hover .before {
  width: 2.5rem;
}

.link:hover .after {
  width: 4rem;
}

.link:hover .spin {
  display: inline-block;
  transition: 0.5s transform 0.5s ease-in-out;
  transform: rotate(360deg);
}/*# sourceMappingURL=style.css.map */